.main-content {
    display: flex;
    height: 100%;
}
.left-area {
    height: 100%;
    width: 400px;
    background-color: #ddd;
}
.main-list-item {
    padding: 6px 10px;
    font-size: 18px;
    border:1px solid;
    cursor: pointer;
    position: relative;
}
.main-list-item.active {
    border:3px solid;
    font-weight: 700;
}
.main-list-item:hover {
    border:3px solid;
}
.edit-icon{
    border-radius: 4px;
    padding: 2px;
}
.chapter-edit-btn{
    position: absolute;
    top: 4px;
    right: 24px;
}
.chapter-del-btn{
    position: absolute;
    top: 4px;
    right: 0px;
}
.edit-icon:hover{
    border: 1px solid;
    border-color: black;
}
.edit-icon img{
    width: 20px;
    height: 20px;
}
.right-area{
    height: 100%;
    width: 100%;
}

/* Всплывающие окна */
.window {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#window-view-subchapter .window{
    padding: 0px;
    background: none;
    width: 400px;
    height: 500px;
    text-align: left;
}
#content-view-subchapter-div{
    border-radius: 20px;
    padding: 15px;
}
#window-login, #window-addchapter, #window-addsubchapter, #window-loading, #window-view-subchapter, #window-delete, #window-adddailytask {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-login:target, #window-addchapter:target, #window-addsubchapter:target, #window-loading:target, #window-view-subchapter:target, #window-delete:target,
#window-adddailytask:target {display: block;}
a.close-window{
    position: absolute;
    right: -4px;
    top: -4px;
}

/* Вкладки */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent-login {
    display: none;
    padding: 6px;
    height: 100%;
}

/* Элементы формы */
.form-element {
    margin-bottom: 6px;
}
.form-element input {
    /*height: 40px;*/
    font-size: 20px;
    padding: 6px 10px;
}
.form-element textarea {
    height: 140px;
    width: 266px;
    resize: none;
    font-size: 20px;
    padding: 6px 10px;
}
.title-window {
    font-size: 26px;
    margin-bottom: 12px;
}

/*  Перетаскивание  */
.elements-area{
    background-color: #ccc;
    height: 100%;
    width: 100%;
    padding: 4px;
    position: relative;
}
.right-area-menu{
    position: absolute;
    top: 4px;
    left: 4px;
}
.moved-element {
    width: 120px;
    height: 80px;
    border: 1px solid blue;
    position: absolute;
    cursor: pointer;
}